*.jpg
*.asv
pre-exercise.7z
# BEGIN CUSTOM
/data/
# BEGIN MODELSIM
*_lock
_info
*.bak
*.wlf
work
transcript
*.mti
*.zip
*.swp
*~
# END MODELSIM
# BEGIN ISE
*.gise
*.html
*.cfg
*.xmsgs
*.prj
iseconfig
*.log
*.exe
*.ini
isim
*.wdb
*.map
*.ncd
*.xml
*.xrpt
*.bgn
*.bit
_ngo
*.pad
*.stx
*.drc
*.pcf
*.ur
*.mrp
*.txt
*.ngm
*.bld
*.cmd_log
*.lso
*.ngc
*.ngd
*.ngr
*.par
*.ptwx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.xwbt
*.csv
xst
xlnx*/
*.bmm
*.nlf
*_synthesis.vhd
*.jhd
*.sch
# END ISE
!fichlectura.txt
vhdl_practicas
*.blc
*.vhi
*.sym
*.spl
XpsGuiSessionLock
*.make
*.xreport
*.lst
simgen.opt
*.stackdump
system_routed
*.ipf
impact.xsl
*_bd.mhs
executable.elf
xmd_processor.opt
_impact.cmd
*.scr
*.srp
processor/
implementation/
synthesis/
fuseRelaunch.cmd
isim.cmd
.dswkshop/
revup/
__xps/
.metadata/
*.elf
*.o
SDK_Export/
*.d
*.elf.elfcheck
*.elf.size
**/*_bsp_*/*/
**/hdl/
!**/pcores/**/hdl/

*.debug
netgen/
planAhead_run_*/
.Xil/
*.xdl
